{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/amazonS3' %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t('enupal-backup') }}">
	</div>
{% endset %}

{% set content %}

	<input type="hidden" name="action" value="enupal-backup/settings/save-settings">
	<input type="hidden" name="backupScenario" value="amazon">

	<div id="settings-cp">

		{% namespace 'settings' %}

			{{ forms.lightswitchField({
				label: "Enable Amazon"|t('enupal-backup'),
				id: 'enableAmazon',
				name: 'enableAmazon',
				on: settings.enableAmazon,
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup'),
				errors: settings.getErrors('enableAmazon'),
			}) }}

			{{ forms.textField({
				label: "Key"|t('enupal-backup'),
				id: 'amazonKey',
				name: 'amazonKey',
				instructions: "The amazon S3 key."|t('enupal-backup'),
				value: settings.amazonKey,
				required: true,
				placeholder: "xxxxxxx"|t('enupal-backup'),
				autofocus: true,
				first: true,
				errors: ''
			}) }}

			{{ forms.textField({
				label: "Secret"|t('enupal-backup'),
				id: 'amazonSecret',
				name: 'amazonSecret',
				instructions: "The amazon S3 secret."|t('enupal-backup'),
				value: settings.amazonSecret,
				required: true,
				autofocus: true,
				first: true,
				errors: ''
			}) }}

			{{ forms.textField({
				label: "Bucket"|t('enupal-backup'),
				id: 'amazonBucket',
				name: 'amazonBucket',
				instructions: "A bucket where to store the backup."|t('enupal-backup'),
				value: settings.amazonBucket,
				required: true,
				autofocus: true,
				first: true,
				errors: ''
			}) }}

			{{ forms.textField({
				label: "Region"|t('enupal-backup'),
				id: 'amazonRegion',
				name: 'amazonRegion',
				instructions: "The region where the bucket is located e.g. 'eu-central-1'."|t('enupal-backup'),
				value: settings.amazonRegion,
				required: true,
				autofocus: true,
				first: true,
				errors: ''
			}) }}

			{{ forms.textField({
				label: "Path"|t('enupal-backup'),
				id: 'amazonPath',
				name: 'amazonPath',
				instructions: "Path where to store the backup in your bucket."|t('enupal-backup'),
				value: settings.amazonPath,
				autofocus: true,
				first: true,
				errors: ''
			}) }}

			{{ forms.lightswitchField({
				label: "MultiPartUpload functionality"|t('enupal-backup'),
				instructions: "Use Amazon S3 MultiPartUpload functionality."|t('enupal-backup'),
				id: 'amazonUseMultiPartUpload',
				name: 'amazonUseMultiPartUpload',
				on: settings.amazonUseMultiPartUpload,
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup')
			}) }}

		{% endnamespace %}

	</div>

{% endset %}