{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/backup' %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	</div>
{% endset %}

{% set content %}

	<input type="hidden" name="action" value="enupal-backup/settings/save-settings">
	<input type="hidden" name="backupScenario" value="backupFiles">

	<div id="settings-cp">

		{% namespace 'settings' %}
			{{ forms.field({
				label: "Include in files backup"|t('enupal-backup')|upper,
				instructions: "Enupal Backup provides you with powerful control over which files you want to include on your backup besides the database."|t('enupal-backup'),
			}, null) }}
			<hr>

			{{ forms.lightswitchField({
				label: "Database"|t('enupal-backup'),
                instructions: 'Backup your database',
				id: 'enableDatabase',
				name: 'enableDatabase',
				on: settings.enableDatabase,
				toggle: 'settings-enableDatabase',
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup'),
				errors: settings.getErrors('enableDatabase'),
			}) }}

			<div id="settings-enableDatabase" class="{% if not settings.enableDatabase %}hidden{% endif %}">
				{{ forms.textField({
					label: "Structure Only"|t('enupal-backup'),
					instructions: "Comma separated list of tables where only the table structure will be stored."|t('enupal-backup'),
					id: 'excludeData',
					name: 'excludeData',
					value: settings.excludeData,
					autofocus: true,
					first: true,
					errors: ''
				}) }}
			</div>

			<hr>
			{{ forms.lightswitchField({
				label: "Templates"|t('enupal-backup'),
                instructions: 'Backup your template files: <b>templates/</b> folder',
				id: 'enableTemplates',
				name: 'enableTemplates',
				on: settings.enableTemplates,
				toggle: 'settings-enableTemplates',
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup'),
				errors: settings.getErrors('enableTemplates'),
			}) }}

			<div id="settings-enableTemplates" class="{% if not settings.enableTemplates %}hidden{% endif %}">
				{{ forms.textField({
					label: "Exclude Files"|t('enupal-backup'),
					instructions: "Comma separated list of paths to exclude."|t('enupal-backup'),
					id: 'excludeTemplates',
					name: 'excludeTemplates',
					value: settings.excludeTemplates,
					autofocus: true,
					first: true,
					errors: ''
				}) }}
			</div>
			<hr>
			{{ forms.lightswitchField({
				label: "Assets"|t('enupal-backup'),
				instructions: 'Backup your assets: just <b>local</b> volumes are supported',
				id: 'enableLocalVolumes',
				name: 'enableLocalVolumes',
				on: settings.enableLocalVolumes,
				toggle: 'settings-enableAssets',
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup'),
				errors: settings.getErrors('enableLocalVolumes'),
			}) }}

			<div id="settings-enableAssets" class="{% if not settings.enableLocalVolumes %}hidden{% endif %}">
				{% set volumes = craft.enupalbackup.getAllLocalVolumes() %}

				{{ forms.checkboxSelect({
					name: 'volumes',
					options: volumes,
					showAllOption: true,
					values: settings.volumes,
				}) }}
			</div>

		<hr>
			{{ forms.lightswitchField({
				label: "Logs"|t('enupal-backup'),
				instructions: 'Backup your log files',
				id: 'enableLogs',
				name: 'enableLogs',
				on: settings.enableLogs,
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup'),
				errors: settings.getErrors('enableLogs'),
			}) }}

		<hr>
            {{ forms.lightswitchField({
                label: "Config Files"|t('enupal-backup'),
                instructions: 'Backup your config files: <b>composer.json</b> file, <b>config/</b> and <b>translations/</b> folders',
                id: 'enableConfigFiles',
                name: 'enableConfigFiles',
                on: settings.enableConfigFiles,
                onLabel: "On"|t('enupal-backup'),
                offLabel: "Off"|t('enupal-backup'),
                errors: settings.getErrors('enableConfigFiles'),
            }) }}

			<hr>
            {{ forms.lightswitchField({
                label: "Web Folder"|t('enupal-backup'),
                instructions: 'Backup your public web folder. <b>Enabling this folder could generate heavy backups/</b>',
                id: 'enableWebFolder',
                name: 'enableWebFolder',
                on: settings.enableWebFolder,
                toggle: 'settings-enableWebFolder',
                onLabel: "On"|t('enupal-backup'),
                offLabel: "Off"|t('enupal-backup'),
                errors: settings.getErrors('enableWebFolder'),
            }) }}

			<div id="settings-enableWebFolder" class="{% if not settings.enableWebFolder %}hidden{% endif %}">
                {{ forms.textField({
                    label: "Exclude Files"|t('enupal-backup'),
                    instructions: "Comma separated list of paths to exclude."|t('enupal-backup'),
                    id: 'excludeWebFolder',
                    name: 'excludeWebFolder',
                    value: settings.excludeWebFolder,
                    autofocus: true,
                    first: true
                }) }}
			</div>

		{% endnamespace %}

	</div>

{% endset %}