{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/ftp' %}

{% set saveButton %}
    <div class="buttons">
        <input class="btn submit" type="submit"
               value="{{ 'Save'|t('enupal-backup') }}">
    </div>
{% endset %}

{% set content %}

    <input type="hidden" name="action"
           value="enupal-backup/settings/save-settings">
    <input type="hidden" name="backupScenario" value="ftp">

    <div id="settings-cp">

        {% namespace 'settings' %}

            {{ forms.lightswitchField({
                label: "Enable FTP"|t('enupal-backup'),
                id: 'enableFtp',
                name: 'enableFtp',
                on: settings.enableFtp,
                onLabel: "On"|t('enupal-backup'),
                offLabel: "Off"|t('enupal-backup'),
                errors: settings.getErrors('enableFtp'),
            }) }}

            {{ forms.selectField({
                label: "Type"|t('app'),
                id: 'ftpType',
                name: 'ftpType',
                options: {'ftp': 'FTP', 'sftp': 'SFTP'},
                value: settings.ftpType,
                required: true,
            }) }}

            {{ forms.autosuggestField({
                label: "Host"|t('enupal-backup'),
                id: 'ftpHost',
                name: 'ftpHost',
                instructions: "The host you want do copy your backups to."|t('enupal-backup'),
                value: settings.ftpHost,
                required: true,
                class: 'ltr',
                suggestEnvVars: true,
                errors: settings.getErrors('ftpHost')
            }) }}

            {{ forms.autosuggestField({
                label: "User"|t('enupal-backup'),
                id: 'ftpUser',
                name: 'ftpUser',
                instructions: "The user you want to connect with."|t('enupal-backup'),
                value: settings.ftpUser,
                required: true,
                class: 'ltr',
                suggestEnvVars: true,
                errors: settings.getErrors('ftpUser')
            }) }}

            {{ forms.autosuggestField({
                label: "Port"|t('enupal-backup'),
                id: 'ftpPort',
                name: 'ftpPort',
                instructions: "The port you want do connect to."|t('enupal-backup'),
                placeholder: "Default 22",
                value: settings.ftpPort,
                required: false,
                class: 'ltr',
                suggestEnvVars: true,
                errors: settings.getErrors('ftpPort')
            }) }}

            {{ forms.autosuggestField({
                label: "Password"|t('enupal-backup'),
                id: 'ftpPassword',
                name: 'ftpPassword',
                instructions: "The password to authenticate the user."|t('enupal-backup'),
                value: settings.ftpPassword,
                required: true,
                class: 'ltr',
                suggestEnvVars: true,
                errors: settings.getErrors('ftpPassword')
            }) }}

            {{ forms.autosuggestField({
                label: "Path"|t('enupal-backup'),
                id: 'ftpPath',
                name: 'ftpPath',
                instructions: "The remote path where to copy the backup."|t('enupal-backup'),
                value: settings.ftpPath,
                class: 'ltr',
                suggestEnvVars: true,
                errors: settings.getErrors('ftpPath')
            }) }}

        {% endnamespace %}

    </div>

{% endset %}