{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/general' %}

{% set saveButton %}
    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
    </div>
{% endset %}

{% set content %}

    <input type="hidden" name="action"
           value="enupal-backup/settings/save-settings">
    <input type="hidden" name="backupScenario" value="general">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {{ forms.field({
                label: "General settings"|t('enupal-backup')|upper
            }, null) }}
            <hr>

            {{ forms.textField({
                label: "Plugin Name"|t,
                id: 'pluginNameOverride',
                name: 'pluginNameOverride',
                instructions: "Intuitive, human-readable plugin name for the end user."|t('enupal-backup'),
                value: settings.pluginNameOverride,
                placeholder: "Enupal Backup"|t('enupal-backup'),
                autofocus: true,
                first: true,
                errors: ''
            }) }}

            <hr>

            {{ forms.textField({
                label: "Amount of backups to keep locally"|t('enupal-backup'),
                id: 'backupsAmount',
                instructions: 'Keep only a configured amount of backups with status Finished'|t('enupal-backup'),
                name: 'backupsAmount',
                value: settings.backupsAmount,
                size: 10,
                autofocus: true,
                required: true,
                first: true,
                errors: settings.getErrors('backupsAmount')
            }) }}

            <hr>

            {{ forms.textField({
                label: "Max Execution Time (seconds)"|t('enupal-backup'),
                id: 'maxExecutionTime',
                instructions: 'This option sets the time to reserve for the Enupal Backup execution. If the execution of the Backup takes longer than this time, execution will be stopped and it will be returned to the Craft Queue for later retry. '|t('enupal-backup'),
                name: 'maxExecutionTime',
                value: settings.maxExecutionTime,
                size: 10,
                autofocus: true,
                required: true,
                errors: settings.getErrors('maxExecutionTime')
            }) }}

        {% endnamespace %}

    </div>

{% endset %}