{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/general' %}

{% set saveButton %}
    <div class="buttons">
        <input class="btn submit" type="submit" value="{{ 'Save'|t }}">
    </div>
{% endset %}

{% set content %}

    <input type="hidden" name="action"
           value="enupal-backup/settings/save-settings">
    <input type="hidden" name="backupScenario" value="general">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {{ forms.field({
                label: "General settings"|t('enupal-backup')|upper
            }, null) }}
            <hr>

            {{ forms.textField({
                label: "Plugin Name"|t,
                id: 'pluginNameOverride',
                name: 'pluginNameOverride',
                instructions: "Intuitive, human-readable plugin name for the end user."|t('enupal-backup'),
                value: settings.pluginNameOverride,
                placeholder: "Enupal Backup"|t('enupal-backup'),
                autofocus: true,
                first: true,
                errors: ''
            }) }}

            <hr>

            {{ forms.textField({
                label: "Amount of backups to keep locally"|t('enupal-backup'),
                id: 'backupsAmount',
                instructions: 'Keep only a configured amount of backups with status Finished'|t('enupal-backup'),
                name: 'backupsAmount',
                value: settings.backupsAmount,
                size: 10,
                autofocus: true,
                required: true,
                first: true,
                errors: settings.getErrors('backupsAmount')
            }) }}

            <hr>

            {{ forms.lightswitchField({
                label: "Use Curl"|t('enupal-backup'),
                instructions: "Use curl instead of file_get_contents to notify that the backup is finished",
                id: 'useCurl',
                name: 'useCurl',
                on: settings.useCurl,
                onLabel: "On"|t('enupal-backup'),
                offLabel: "Off"|t('enupal-backup')
            }) }}

            <hr>

            {{ forms.textField({
                label: "Primary Site Url"|t('enupal-backup'),
                id: 'primarySiteUrl',
                instructions: "As Enupal Backup runs as a console command, in that context the Site Url can't be accessed. In order to avoid problems with the webhook, please add a valid Url of your Site."|t('enupal-backup'),
                name: 'primarySiteUrl',
                placeholder: siteUrl|trim('/'),
                value: settings.primarySiteUrl,
                autofocus: true,
                required: true,
                errors: settings.getErrors('primarySiteUrl')
            }) }}

            <hr>
            {{ forms.lightswitchField({
                label: "Run Backup job in Background"|t('enupal-backup'),
                instructions: 'Enable this setting for heavy backups',
                id: 'compressWithBz2',
                name: 'runJobInBackground',
                on: settings.runJobInBackground,
                toggle: 'settings-runJobInBackground',
                onLabel: "On"|t('enupal-backup'),
                offLabel: "Off"|t('enupal-backup')
            }) }}

        {% endnamespace %}

    </div>

{% endset %}