{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/objectStorage' %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t('enupal-backup') }}">
	</div>
{% endset %}

{% set content %}

	<input type="hidden" name="action" value="enupal-backup/settings/save-settings">
	<input type="hidden" name="backupScenario" value="sos">

	<div id="settings-cp">

		{% namespace 'settings' %}

			{{ forms.lightswitchField({
				label: "Enable Softlayer Object Storage"|t('enupal-backup'),
				id: 'enableSos',
				name: 'enableSos',
				on: settings.enableSos,
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup'),
				errors: settings.getErrors('enableSos'),
			}) }}

			{{ forms.autosuggestField({
				label: "User"|t('enupal-backup'),
				id: 'sosUser',
				name: 'sosUser',
				instructions: "The user you want to connect with."|t('enupal-backup'),
				value: settings.sosUser,
				required: true,
				class: 'ltr',
				suggestEnvVars: true,
				errors: settings.getErrors('sosUser')
			}) }}

			{{ forms.autosuggestField({
				label: "Secret"|t('enupal-backup'),
				id: 'sosSecret',
				name: 'sosSecret',
				instructions: "The api key to authenticate the user."|t('enupal-backup'),
				value: settings.sosSecret,
				required: true,
				class: 'ltr',
				suggestEnvVars: true,
				errors: settings.getErrors('sosSecret')
			}) }}

			{{ forms.autosuggestField({
				label: "Host"|t('enupal-backup'),
				id: 'sosHost',
				name: 'sosHost',
				instructions: "The host you want do copy your backups to."|t('enupal-backup'),
				value: settings.sosHost,
				required: true,
				class: 'ltr',
				suggestEnvVars: true,
				errors: settings.getErrors('sosHost')
			}) }}

			{{ forms.autosuggestField({
				label: "Container"|t('enupal-backup'),
				id: 'sosContainer',
				name: 'sosContainer',
				instructions: "The Object Storage Container where to put the backup."|t('enupal-backup'),
				value: settings.sosContainer,
				required: true,
				class: 'ltr',
				suggestEnvVars: true,
				errors: settings.getErrors('sosContainer')
			}) }}

			{{ forms.autosuggestField({
				label: "Path"|t('enupal-backup'),
				id: 'sosPath',
				name: 'sosPath',
				instructions: "The remote path where to copy the backup."|t('enupal-backup'),
				value: settings.sosPath,
				required: true,
				class: 'ltr',
				suggestEnvVars: true,
				errors: settings.getErrors('sosPath')
			}) }}

		{% endnamespace %}

	</div>

{% endset %}