{#
/**
 * EnupalBackup plugin for Craft CMS 3.x
 *
 * @link      https://enupal.com/
 * @copyright Copyright (c) 2017 Enupal
 */
#}

{% extends "enupal-backup/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set settings = craft.enupalbackup.getSettings() %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = 'enupal-backup/settings/schedule' %}
{% set craftPath = craft.enupalbackup.getCraftPath() %}

{% set saveButton %}
	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	</div>
{% endset %}

{% set content %}

	<input type="hidden" name="action" value="enupal-backup/settings/save-settings">
	<input type="hidden" name="backupScenario" value="schedule">
	{% set secretKey = craft.enupalbackup.getSecretKey() %}

	<div id="settings-cp">

		{% namespace 'settings' %}
			{{ forms.field({
				label: "Webhook"|t('enupal-backup')|upper,
				instructions: "Enupal Backup provides you a webhook to schedule your backups, here is an example how to do it with <a target='_blank' href='https://de.wikipedia.org/wiki/Cron'>Cron.</a> Adding one of the following lines to your crontab will execute your backup every morning at 3:11 AM."|t('enupal-backup'),
			}, null) }}
			<hr>

			{{ forms.lightswitchField({
				label: "Enable Webhook"|t('enupal-backup'),
				id: 'enableWebhook',
				name: 'enableWebhook',
				on: settings.enableWebhook,
				onLabel: "On"|t('enupal-backup'),
				offLabel: "Off"|t('enupal-backup'),
				errors: settings.getErrors('enableWebhook')
			}) }}

			{{ forms.textField({
					label: "Secret Key"|t('enupal-backup'),
					instructions: "Secret key for webhook. <a id='generate-secret' href='#'>Generate</a>"|t('enupal-backup'),
					id: 'webhookSecretKey',
					name: 'webhookSecretKey',
					value: settings.webhookSecretKey,
					autofocus: true,
					required: true,
					first: true,
					errors: settings.getErrors('webhookSecretKey')
			}) }}
			{% set webhookUrl = siteUrl ~ 'enupal-backup/schedule?key='~settings.webhookSecretKey %}
			<hr>
            {{ forms.field({
                label: "Webhook URL"|t('enupal-backup'),
                instructions: webhookUrl,
            }, null) }}

            {{ forms.field({
                label: 'Cronjob Example:'|t('enupal-backup'),
            }, null) }}

			<div class="example-contents">
				<pre class="programlisting">
# +------------------------- min (0 - 59)
# |       +-------------------- hour (0 - 23)
# |       |    +--------------- day of month (1 - 31)
# |       |    |     +---------- month (1 - 12)
# |       |    |     |    +----- day of week (0 - 7) (Sunday=0 or 7)
# |       |    |     |    |
# *      *    *    *    *

# Enupal Backup Webhook
10     3    *    *    *  curl --request GET '{{webhookUrl}}'
11     3    *    *    *  cd {{ craftPath }} && php craft queue/run

				</pre>
		</div>
		<br>
		{% endnamespace %}
		<hr>

	</div>

{% endset %}

{% css %}

{% endcss %}
{% do view.registerAssetBundle("enupal\\backup\\web\\assets\\HighlightAsset") %}

{% js %}
	$(document).ready(function() {
		$('pre.programlisting').each(function(i, block) {
			hljs.highlightBlock(block);
		});
	});

	$('#settings-generate-secret').click(function () {
		var secretKey = {{ secretKey|json_encode()|raw }};
		$('#settings-webhookSecretKey').val(secretKey);
	});
{% endjs %}
