{% import "_includes/forms" as forms %}
{% set tab  = 1 %}

<nav id="tabs" class="tabs" style= "margin: 0 0 0 0;">
	<ul>
		<li>
			<a class="tab {{ tab == 1 ? ' sel' : '' }}" href="#tab-enupalbackup-settings">
				{{ "Information"|t('enupal-backup') }}
			</a>
		</li>
	</ul>
</nav>

<div>
	<div class="{{ tab != 1 ? 'hidden' : '' }} meta" id="tab-enupalbackup-settings">
		<div class="field enupal-field-heading">{{'Backup Info'|t('enupal-backup')}}</div>
			{{ forms.dateTimeField({
				label: "Date Created"|t('enupal-backup'),
				id: 'dateCreated',
				name: 'dateCreated',
				value: backup.dateCreated,
				disabled: true
			}) }}

			{{ forms.dateTimeField({
				label: "Date Updated"|t('enupal-backup'),
				id: 'dateUpdated',
				name: 'dateUpdated',
				value: backup.dateUpdated,
				disabled: true
			}) }}
	</div><!-- settings div -->

</div>
