{% import "_includes/forms" as forms %}
{% set tab  = 1 %}

<nav id="tabs" class="tabs" style= "margin: 0 0 0 0;">
	<ul>
		<li>
			<a class="tab {{ tab == 1 ? ' sel' : '' }}" href="#tab-enupalbackup-settings">
				{{ "Information"|t('enupal-backup') }}
			</a>
		</li>
	</ul>
</nav>

<div>
	<div class="{{ tab != 1 ? 'hidden' : '' }} meta" id="tab-enupalbackup-settings">
		<div class="field enupal-field-heading"><i class="fa fa-info-circle" aria-hidden="true"> {{'Backup Info'|t('enupal-backup')}}</i></div>
			{{ forms.dateTimeField({
				label: "Started at"|t('enupal-backup'),
				id: 'dateCreated',
				name: 'dateCreated',
				value: backup.dateCreated,
				disabled: true
			}) }}
			{% if backup.backupStatusId %}
				{{ forms.dateTimeField({
					label: "Finished at"|t('enupal-backup'),
					id: 'dateUpdated',
					name: 'dateUpdated',
					value: backup.dateUpdated,
					disabled: true
				}) }}
			{% endif %}

			{{ forms.textField({
				label: "Status"|t('enupal-backup'),
				id: 'status',
				name: 'status',
				value: backup.getStatusName(),
				disabled: true
			}) }}

		<div class="field enupal-field-heading"><i class="fa fa-cloud" aria-hidden="true"> {{'Cloud'|t('enupal-backup')}}</i></div>

			{% if backup.dropbox %}
				<div class="field">
					<div class="heading">
						<label>{{"Uploaded to"|t('enupal-backup')}}</label>
					</div>
					<div class="input ltr">
						<i title="Dropbox" class="fa fa-dropbox fa-fw" aria-hidden="true"></i>
					</div>
				</div>
			{% endif %}

			{% if backup.aws %}
				<div class="field">
					<div class="heading">
						<label>{{"Uploaded to"|t('enupal-backup')}}</label>
					</div>
					<div class="input ltr">
						<i title="Dropbox" class="fa fa-amazon fa-fw" aria-hidden="true"></i>
					</div>
				</div>
			{% endif %}

			{% if backup.dropbox %}
				<div class="field">
					<div class="heading">
						<label>{{"Uploaded to"|t('enupal-backup')}}</label>
					</div>
					<div class="input ltr">
						<i title="Dropbox" class="fa fa-dropbox fa-fw" aria-hidden="true"></i>
					</div>
				</div>
			{% endif %}

			{% if backup.dropbox %}
				<div class="field">
					<div class="heading">
						<label>{{"Uploaded to"|t('enupal-backup')}}</label>
					</div>
					<div class="input ltr">
						<i title="Dropbox" class="fa fa-dropbox fa-fw" aria-hidden="true"></i>
					</div>
				</div>
			{% endif %}
	</div><!-- settings div -->

</div>
