{% extends "_layouts/cp" %}

{% set title  = "Settings"|t %}
{% set bodyClass = craft.request.getSegments()|slice(0, 3)|join(' ') %}

{% set selectedSubnavItem = craft.request.getSegment(2) %}
{% set selectedSidebarItem = craft.request.getSegment(3) %}

{% set sidebar %}

	<nav class="last">
		<ul>
			<li>
				<a  href="{{ cpUrl('enupal-backup/settings/general') }}" {% if selectedSidebarItem == 'general' %}class="sel"{% endif %}><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp;{{"General"|t('enupal-backup')}}
				</a>
			</li>
			<li>
				<a href="{{ cpUrl('enupal-backup/settings/dropbox') }}" {% if selectedSidebarItem == 'dropbox' %} class="sel" {% endif %}><i class="fa fa-dropbox fa-fw" aria-hidden="true"></i>&nbsp;{{"Dropbox"|t('enupal-backup')}}</a>
			</li>
			<li>
				<a href="{{ cpUrl('enupal-backup/settings/amazonS3') }}" {% if selectedSidebarItem == 'amazonS3' %} class="sel" {% endif %}><i class="fa fa-amazon fa-fw" aria-hidden="true"></i>&nbsp;{{"Amazon S3"|t('enupal-backup')}}</a>
			</li>
			<li>
				<a href="{{ cpUrl('enupal-backup/settings/ftp') }}" {% if selectedSidebarItem == 'ftp' %} class="sel" {% endif %}><i class="fa fa-folder-open fa-fw" aria-hidden="true"></i>&nbsp;{{"FTP"|t('enupal-backup')}}</a>
			</li>
			<li>
				<a href="{{ cpUrl('enupal-backup/settings/sftp') }}" {% if selectedSidebarItem == 'sftp' %} class="sel" {% endif %}><i class="fa fa-folder-open fa-fw" aria-hidden="true"></i>&nbsp;{{"SFTP"|t('enupal-backup')}}</a>
			</li>

		</ul>
	</nav>

{% endset %}

{% do view.registerAssetBundle("enupal\\backup\\assetbundles\\FontAwesomeAsset") %}