{% extends "enupal-backup/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% css %}
	.enupal-field-heading {
		background-color: rgb(244, 245, 246);
		color: rgb(85, 85, 85);
		font-size: .8em;
		min-height: auto;
		padding: 8px auto;
		text-transform: uppercase;
	}
{% endcss %}
{% set crumbs = [
	{ label: "Backups"|t('enupal-backup'), url: cpUrl('enupal-backup/backups') }
] %}

{% set title = 'Backup '~backup.dateCreated|date %}

{% set fullPageForm = true %}

{% block saveButton %}

{% endblock %}

{% block main %}

	{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}
	<div class="grid first" data-max-cols="3">
		<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
			<div id="fields" class="pane">
				<div class="bootstrap-iso downloads-content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-9 col-md-10  main">
								<h3 class="page-header">{% if backup.backupStatusId == 2 %} {{"Download Section"|t('enupal-backup')}} {% elseif backup.backupStatusId == 1 %}  <i class="fa fa-circle-o-notch fa-spin fa fa-fw"></i> {{"Backup it's still running, but you can download local files"}} {% elseif backup.backupStatusId == 3  %}  <i class="fa fa-times" aria-hidden="true"></i> {{"An error occurred during Backup:"}} {% endif %} </h3>
								<div class="row placeholders">
								{% if backup.backupStatusId != 3 %}
									{% if backup.databaseFileName %}
										<div class="col-xs-12 col-md-3 placeholder">
											<form id="database-template" method="post" accept-charset="UTF-8">
												<input type="hidden" name="action" value="enupal-backup/backups/download">
												<input type="hidden" name="type" value="database">
												<input type="hidden" name="backupId" value="{{backup.id}}">
												{{ csrfInput() }}
												<button type="submit" class="bbtn bbtn-success btn-full">
													<i class="fa fa-cloud-download fa-lg"></i> <b>Database</b>
												</button>
											</form>
											{% if backup.backupStatusId %}
												<h4><span class="label label-info">Size: {{craft.enupalbackup.getSizeFormatted(backup.databaseSize)}}</span></h4>
											{% endif %}
											<span class="text-muted"><a href="">delete</a></span>
										</div>
									{% endif %}
									{% if backup.templateFileName %}
										<div class="col-xs-12 col-md-3 placeholder">
											<form id="form-template" method="post" accept-charset="UTF-8">
												<input type="hidden" name="action" value="enupal-backup/backups/download">
												<input type="hidden" name="type" value="template">
												<input type="hidden" name="backupId" value="{{backup.id}}">
												{{ csrfInput() }}
												<button type="submit" class="bbtn bbtn-success btn-full">
													<i class="fa fa-cloud-download fa-lg"></i> <b>Templates</b>
												</button>
											</form>
											{% if backup.backupStatusId %}
												<h4><span class="label label-info">Size: {{craft.enupalbackup.getSizeFormatted(backup.templateSize)}}</span></h4>
											{% endif %}
											<span class="text-muted"><a href="">delete</a></span>
										</div>
									{% endif %}
									{% if backup.pluginFileName %}
										<div class="col-xs-12 col-md-3 placeholder">
											<form id="database-template" method="post" accept-charset="UTF-8">
												<input type="hidden" name="action" value="enupal-backup/backups/download">
												<input type="hidden" name="type" value="plugin">
												<input type="hidden" name="backupId" value="{{backup.id}}">
												{{ csrfInput() }}
												<button type="submit" class="bbtn bbtn-success btn-full">
													<i class="fa fa-cloud-download fa-lg"></i> <b>Plugins</b>
												</button>
											</form>
											{% if backup.backupStatusId %}
												<h4><span class="label label-info">Size: {{craft.enupalbackup.getSizeFormatted(backup.pluginSize)}}</span></h4>
											{% endif %}
											<span class="text-muted"><a href="">delete</a></span>
										</div>
									{% endif %}
									{% if backup.assetFileName %}
										<div class="col-xs-12 col-md-3 placeholder">
											<form id="database-template" method="post" accept-charset="UTF-8">
												<input type="hidden" name="action" value="enupal-backup/backups/download">
												<input type="hidden" name="type" value="asset">
												<input type="hidden" name="backupId" value="{{backup.id}}">
												{{ csrfInput() }}
												<button type="submit" class="bbtn bbtn-success btn-full">
													<i class="fa fa-cloud-download fa-lg"></i> <b>Assets</b>
												</button>
											</form>
											{% if backup.backupStatusId %}
												<h4><span class="label label-info">Size: {{craft.enupalbackup.getSizeFormatted(backup.assetSize)}}</span></h4>
											{% endif %}
											<span class="text-muted"><a href="">delete</a></span>
										</div>
									{% endif %}
								{% else %}
									<div id="error1" class="modal">
										<div id="modal" class="body" style="height: 100%;">
											<header class="header">
												<h2>Error</h2>
											</header>
											<div style="padding: 15px; width: 100%;  overflow: auto; height: calc(100% - 66px); position: absolute; top: 66px; left: 0;" class="error">
												{{backup.logMessage}}
											</div>
										</div>
									</div>
									<a id="showError1" href="#erro1">Show Error</a>
									<br><br>
									{% if log is defined %}
										<a href="#log" data-toggle="collapse">Show log</a>
										<br>
										<div id="log" class="collapse">
											<span class="warning">{{log}}</span>
										</div>
										<br>
										<br>
									{% endif %}
								{% endif %}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="item" data-position="right" data-colspan="1">
			<div class="pane meta">
				{% include 'enupal-backup/backups/_sidebar/settings' %}
			</div>
		</div>
	</div>

{% do view.registerAssetBundle("enupal\\backup\\assetbundles\\BackupAsset") %}
{% do view.registerAssetBundle("enupal\\backup\\assetbundles\\FontAwesomeAsset") %}
{% js %}
	$(document).ready(function() {
		new EnupalBackup();
	});
{% endjs %}
{% endblock %}

